* {
    margin: 0;
    padding: 0;
    border: 0;
}

#menuSuperior {
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 0 5%;
    border-bottom: 1px solid white;
}

#menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#menuSuperior div a {
    color: #FFF;
    font-family: Inter;
    font-size: 25x;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

#menuSuperior div a:hover {
    color: #CCC;
}

#menuSuperior button {
    width: 80px;
    height: 39px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: #0C70F2;
    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
}

#menuSuperior button:hover {
    cursor: pointer;
    color: #CCC;
    box-shadow: 3px 2px 4px rgba(24, 119, 243, 0.425);
}

